*
{
    background: url(images/bg-desktop.svg) rgb(104,76,180) no-repeat ;
    background-size: 75%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');





.heading
{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: white;

}
.logo
{
  width:    ;
  float: left;
 
}



  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
